[submodule "Firmware/Panel"]
	path = Firmware/Panel
	url = https://github.com/d-el/PS3604L_Panel.git
[submodule "Firmware/Regulator"]
	path = Firmware/Regulator
	url = https://github.com/d-el/PS3604L_Regulator.git
