*,
*:after,
*:before {
  box-sizing: border-box;
  z-index: 1;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	width: 100%;
	color: #36D695;
}
a:link, a:active, a:visited {
	color: #fff;
	text-decoration: none;
}
a:active {
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0
}
img {
	border: none;
}
hr {
	background-color: #fff;
	border: none;
	clear: both;
	color: #fff;
	height: 1px;
}
input, textarea {
	outline: none;
}
input:active, textarea:active {
	outline: none;
}
:focus {
	outline: none;
}
input {
	vertical-align: middle;
	border: none;
}
textarea {
	resize: none;
	border: none;
}
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder {
	color: transparent !important;
}
button {
	outline: none;
	border: none;
}
